.hero.home-hero {
  padding-top: 76px;

  h1 {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 19px;
  }

  h2.subtitle {
    font-weight: normal;
    font-size: 20px;
    color: #8898AE;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 41px;
  }
}

.project-item {
  margin-bottom: 100px;
  h3 {
    font-size: 24px;
    color: #232534;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 6px;

  }

  .subtitle {
    font-size: 15px;
    color: #C3CBD6;
    letter-spacing: 0.88px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .text-content {
    margin-top: 42px;
  }

  .buttons {
    margin-top: 40px;
  }

  p {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
  }

  .image {
    padding-left: 20px;
    &.align-right {
      padding-right: 30px;
      padding-left: 0;
      text-align: right;
    }
  }
}