<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Namespace OÜ - Creating applications that matter{% endblock %}</title>
  <meta name="description" content="Full service digital agency based in Tallinn. We are Python, API and React.js experts. Creating applications that matter.">

  <meta property="og:url" content="http://namespace.ee" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Namespace OÜ - Creating applications that matter" />
  <meta property="og:description" content="Full service digital agency based in Tallinn. We are Python, API and React.js experts. Creating applications that matter." />
  <meta property="og:image" content="{{ '/images/namespace.png'|asseturl }}" />

  <link rel="stylesheet" href="{{ '/webpack/styles.css'|asseturl }}">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
  {% block navigation %}
    {% include 'navigation.html' %}
  {% endblock %}

  {% block body %}{% endblock %}

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock %}

  <script type=text/javascript src="{{ '/webpack/app.js'|asseturl }}" charset="utf-8"></script>

  {% block js %}{% endblock %}

  <!-- Google analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58469470-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-58469470-9');
  </script>
</body>
</html>
