<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="{{ '/webpack/styles.css'|asseturl }}">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
  {% block navigation %}
    {% include 'navigation.html' %}
  {% endblock %}

  {% block body %}{% endblock %}

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock %}

  <script type=text/javascript src="{{ '/webpack/app.js'|asseturl }}" charset="utf-8"></script>
</body>
</html>
