{% extends "base.html" %}

{% block title %}Namespace OÜ{% endblock %}

{% block body %}
  <div class="hero open-source-hero">
    <div id="particles-background"></div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="text-center taglines">
            <h1>Giving back</h1>
            <h2 class="subtitle">We build upon tools and libraries that have received the love and work of several thousands of enthusiasts around the world. We want to contibute to those efforts, while also sharing some of the tools we have envisioned and built to help us deliver great apps for our customers.</h2>
            <div class="cta">
              <a href="#" class="btn btn-lg grad-btn btn-rounded follow-btn">
                <img src="{{ '/images/octocat.svg'|asseturl }}" alt="">
                <span class="text">Follow @namespace</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container open-source-container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>Flegobox</h5>
                <p>Simplified CSS FlexBox properties easy to use as Legos.</p>
              </div>
              <div class="help-link">
                <a href="#">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>Pulpo Forms Django</h5>
                <p>A Python/Django backend for Pulpo Forms, powerful surveys with many different field types, multi path logic for fields and pages and statistical analysis of responses. </p>
              </div>
              <div class="help-link">
                <a href="#">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>Pulpo Forms Angular</h5>
                <p>Angular directive to render Pulpo Forms, powerful surveys with many different field types, multi path logic for fields and pages and statistical analysis of responses.</p>
              </div>
              <div class="help-link">
                <a href="#">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>Pulpo Forms Examples</h5>
                <p>An example project using pulpo-forms-django and pulpo-forms-angular.</p>
              </div>
              <div class="help-link">
                <a href="#">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center your-ideas">
          <h2>We would love to hear your ideas.</h2>
          <div class="subtitle">We have the team, the knowledge and the experience.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}