{% extends "base.html" %}

{% block title %}Namespace OÜ{% endblock %}

{% block body %}
  <div class="hero open-source-hero">
    <div id="particles-background"></div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="text-center taglines">
            <h1>Giving back</h1>
            <h2 class="subtitle">We build upon tools and libraries that have received the love and work of several thousands of enthusiasts around the world. We want to contibute to those efforts, while also sharing some of the tools we have envisioned and built to help us deliver great apps for our customers.</h2>
            <div class="cta">
              <a href="https://github.com/namespace-ee" class="btn btn-lg grad-btn btn-rounded follow-btn">
                <img src="{{ '/images/octocat.svg'|asseturl }}" alt="">
                <span class="text">Follow @namespace-ee</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container open-source-container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>react-calendar-timeline</h5>
                <p>A modern and responsive react timeline component.</p>
              </div>
              <div class="help-link">
                <a href="https://github.com/namespace-ee/react-calendar-timeline">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>django-rest-framework-sso</h5>
                <p>Django REST Framework SSO is an extension to Django REST Framework that enables Single sign-on in a microservice-oriented environment using the JWT standard.</p>
              </div>
              <div class="help-link">
                <a href="https://github.com/namespace-ee/django-rest-framework-sso">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>django-rest-framework-sideloading</h5>
                <p>Extention for Django Rest Framework to enable simple sideloading.</p>
              </div>
              <div class="help-link">
                <a href="https://github.com/namespace-ee/django-rest-framework-sideloading">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="open-source-item">
              <div class="inner">
                <h5>django-electron-pdf</h5>
                <p>A Django wrapper to generate PDF from URL, HTML or Markdown files.</p>
              </div>
              <div class="help-link">
                <a href="https://github.com/namespace-ee/django-electron-pdf">Like to help? Fork on Github!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center your-ideas">
          <h2>We would love to hear your ideas.</h2>
          <div class="subtitle">We have the team, the knowledge and the experience.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
