{% extends "base.html" %}

{% block title %}Namespace OÜ{% endblock %}

{% block body %}
  <div class="hero home-hero">
    <div id="particles-background"></div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="text-center taglines">
            <h1>We create apps that matter</h1>
            <h2 class="subtitle">We are a full service digital agency based in Shanghai & Berlin. We are Data Science, API and DevOps experts.</h2>
            <div class="cta">
              <a href="#" class="btn btn-lg btn-success btn-rounded">Work with us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container content-container">
    <div class="background"></div>
    <div class="inner row">
      <div class="col">
        <div class="project-item">
          <div class="row align-items-center">
            <div class="col-md-7">
              <div class="image align-right">
                <img class="img-fluid" src="https://placehold.it/572x496" alt="">
              </div>
            </div>
            <div class="col-md-4">
              <h3>GSMtasks tracking system</h3>
              <div class="subtitle">WEB & MOBILE APP</div>
              <div class="text-content">
                <p>In May 2015, we commenced work on our biggest data-focused project to date. The World Bank’s data team hired us to rebuild their open data site.</p>
                <div class="buttons">
                  <a href="/gsmtasks/" class="btn btn-lg btn-primary grad-btn">See Case Study</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-item">
          <div class="row align-items-center">
            <div class="col-md-7 push-md-5">
              <div class="image">
                <img class="img-fluid" src="https://placehold.it/606x428" alt="">
              </div>
            </div>
            <div class="col-md-4 pull-md-6">
              <h3>Parcelfellows</h3>
              <div class="subtitle">WEB PAGE & WEB APP </div>
              <div class="text-content">
                <p>We followed very specific UI guidelines regarding name, color and data to ensure consistent communication in the call to actions. Consulting our client’s feedback from our wireframes and mockups, we utilized a joint dropdown menu</p>
                <div class="buttons">
                  <a href="#" class="btn btn-lg btn-primary grad-btn">See Case Study</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-item">
          <div class="row align-items-center">
            <div class="col-md-7">
              <div class="image align-right">
                <img class="img-fluid" src="https://placehold.it/572x496" alt="">
              </div>
            </div>
            <div class="col-md-4">
              <h3>Weekend Festival </h3>
              <div class="subtitle">TICKETING SYSTEM</div>
              <div class="text-content">
                <p>In May 2015, we commenced work on our biggest data-focused project to date. The World Bank’s data team hired us to rebuild their open data site.</p>
                <div class="buttons">
                  <a href="#" class="btn btn-lg btn-primary grad-btn">See Case Study</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
