{% extends "base.html" %}

{% block body %}
  <div class="hero home-hero">
    <div id="particles-background"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-12">
          <div class="text-center taglines">
            <h1>We create applications that matter</h1>
            <h2 class="subtitle">We are a full service digital agency based in Tallinn. We are Python, API and React.js experts.</h2>
            <div class="cta">
              <a href="mailto:info@namespace.ee" class="btn btn-lg btn-success btn-rounded">Work with us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container content-container">
    <div class="background"></div>
    <div class="inner row">
      <div class="col">
        <div class="project-item">
          <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
              <div class="image align-right">
                <img class="img-fluid" src="{{ '/images/gsmtasks.png'|asseturl }}" alt="">
              </div>
            </div>
            <div class="col-lg-4 mx-auto">
              <h3>GSMtasks</h3>
              <div class="subtitle">Mobile fleet management</div>
              <div class="text-content">
                <p>
                  A solution to efficiently manage and analyze your mobile workforce through GPS tracking and geospatial data analysis.
                  With a modern React.js interface and React Native mobile application for iOS and Android.
                </p>
                <div class="buttons">
                  <a href="https://www.gsmtasks.com/" class="btn btn-lg btn-primary grad-btn">gsmtasks.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-item">
          <div class="row align-items-center">
            <div class="col-lg-4 mx-auto">
              <h3>Parcelfellows / Pakipoint</h3>
              <div class="subtitle">Shipping & Order fulfillment services</div>
              <div class="text-content">
                <p>
                  Parcelfellows offers a public parcel shipping service at very competetive prices.
                  Pakipoint offers an extensive order fulfillment & warehousing service for online merchants
                  with support for platforms such as Shopify, Magento, WooCommerce, Prestashop and custom solutions.
                </p>
                <div class="buttons">
                  <a href="https://www.parcelfellows.com/" class="btn btn-lg btn-primary grad-btn">parcelfellows.com</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mx-auto">
              <div class="image">
                <img class="img-fluid" src="{{ '/images/parcelfellows.png'|asseturl }}" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="project-item">
          <div class="row align-items-center">
            <div class="col-lg-6 mx-autp">
              <div class="image align-right">
                <img class="img-fluid" src="{{ '/images/tickets.png'|asseturl }}" alt="">
              </div>
            </div>
            <div class="col-lg-4 mx-auto">
              <h3>Ticketing by Namespace</h3>
              <div class="subtitle">TICKETING SYSTEM</div>
              <div class="text-content">
                <p>
                  We offer an advanced ticket sales system that is also embeddable to your own website.
                  Create an interactive shopping cart that matches your site's design and build upon our reliable backend.
                  Receive payments directly to your own account via PayPal, EveryPay, Maksekeskus (others on request).
                </p>
                <div class="buttons">
                  <a href="https://tickets.namespace.ee/" class="btn btn-lg btn-primary grad-btn">tickets.namespace.ee</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
